<h1>フォロー一覧</h1>
<div>
  <% @user.each do |user| %>
  <div>
    <%= user.account_name %>
    <%= user.account_image %>
    <% if current_user.following?(user) %>
      <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <%= link_to 'チャットする', chat_path(user.id) %>
    <%# else %>
      <%#= link_to 'フォローする', follow_path(f.id), method: :POST %>
    <% end %>
  </div>
  <% end %>
</div>