<h1>フォロー一覧</h1>
<div>
  <% @user.where.not(id: current_user.id).each do |f| %>
  <div>
    <%= f.account_name %>
    <%= f.account_image %>
    <% if current_user.following?(f) %>
      <%= link_to 'フォロー外す', unfollow_path(f.id), method: :POST %>
    <%# else %>
      <%#= link_to 'フォローする', follow_path(f.id), method: :POST %>
    <% end %>
  </div>
  <% end %>
</div>
