<div class="container">
  <h1>チャット相手一覧</h1>
  <% @chat_partners.each do |user| %>
    <div>
      <%= link_to user_path(user.id) do %>
        <%= user.account_name + "　さん" %><br />
        <%= user.account_image %>
      <% end %>
      <%= link_to 'チャットする', chat_path(user.id) %>
    </div>
  <% end %>  
</div>