<div class="container">
  <div class="top_image"><!--画像時間によってスライドさせる-->
  </div>
  <div class="main">
    <h1>まよほご掲示板</h1>

    <p>いなくなってしまったペットの情報</br>
       保護した動物の情報を持ち寄ろう
    </p>

    <div class="search">
      <h4>捜索中</h4>
      <%#= @search_list.text %>

    </div>
    <div class="protect">
      <h4>保護中</h4>

    </div>
  </div>
</div>