<% @post.errors.full_messages.each do |message| %>
  <div class="form-error">
     <%= message %>
  </div>
<% end %>

<h2 class="font p-3">投稿を編集</h2>
<div class="top-content pb-2">
  <%= link_to '削除', post_path(@post), class: 'btn btn-danger', method: :delete %>
</div>

<%= render 'posts/new', post: @post %>