<div class="m-5">
  <div class="top-content pb-3">
    <%= render 'posts/retrieval', keyword: @keyword %>
    <%= link_to new_post_path, class: 'btn btn-light m-2' do %>
      <i class="fas fa-plus-circle"> 投稿する</i>
    <% end %>
  </div>
  
  <div class="container bg-white border rounded">
    <h3 class="title">捜索願い投稿 一覧</h3>
    <%= render 'posts/list', posts: @posts %>
  </div>
</div>