/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @font-face{
  font-family: 'Jiyucho';
  src: asset-url('Jiyucho.otf');
 }


 .footer_main{
  text-align: center;
 }

 .card{
  margin: 0 auto 60px;
  max-width: 376px;
  height: 370px;
 }

 .card-body p{
  text-align: left;
 }


.top_container{
  height: 350px;
  padding: 10px;
  text-align: center;
}


.main{
background-image: image-url('bluen.jpg');
}

.post-btn{
 position: absolute;
 top: 0;
 right: 0;
}

.nothing{
 color: red;
}

.form-container{
 margin: px auto;
 background-color: #fff;
}


.title{
  font-family: 'Jiyucho';
}

.font{
 font-family: 'Jiyucho';
}

.top-content{
 padding: 0 30px;
 text-align: right;
}

.more{
 text-align: right;
}

.my_message{
 text-align: right;
}

.info{
 text-align: center;
}

.list{
 text-align:center;
}