// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image1 {
  background-image: image-url("dog1.jpg");
}
.image2 {
  background-image: image-url("cat1.jpg");
}
.image3 {
  background-image: image-url("dogs.jpg");
}
#container{
  height: 500px;
}

.top-main{
  background-color: #fff;
  text-align: center;
}

.title{
  
}